<!--******************* Start footer content *******************-->
<section class="bgc-blue-grey-800 tc-blue-grey-100">
  <div layout-gt-xs="row" layout-align-gt-xs="center center">
    <div layout-gt-sm="row" flex-gt-xs="75" layout-margin layout-padding>
      <div flex>
        <md-nav-list>
          <h3 md-subheader class="text-upper tc-blue-grey-100">Movies</h3>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">Popular</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">Top Rated</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">Upcoming</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">Now Playing</p>
          </md-list-item>
        </md-nav-list>
      </div>
      <div flex>
        <md-nav-list>
          <h3 md-subheader class="text-upper tc-blue-grey-100">Tv shows</h3>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">Popular</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">Top Rated</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">On TV</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">Airing Today</p>
          </md-list-item>
        </md-nav-list>
      </div>
      <div flex>
        <md-nav-list>
          <h3 md-subheader class="text-upper tc-blue-grey-100">People</h3>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">Popular People</p>
          </md-list-item>
        </md-nav-list>
      </div>
      <div flex>
        <md-nav-list>
          <h3 md-subheader class="text-upper tc-blue-grey-100">About</h3>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">The Application</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="tc-blue-grey-300">The Author</p>
          </md-list-item>

        </md-nav-list>
      </div>
      <div flex-gt-xs="10">
      </div>
      <div flex layout="column" flex-gt-xs="30">
        <md-icon class="push-top-md" svgIcon="assets:tmdb" style="height:auto;width:auto;"></md-icon>
        <p class="md-body-1">&copy; Copyright 2017 Fish Team Developers All rights reserved.</p>
      </div>
    </div>
  </div>
</section>
<!--******************* End footer content *******************-->
