<td-layout #layout>
  <td-navigation-drawer sidenavTitle="{{title}}">
    <md-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a md-list-item [routerLink]="[item['route']]">
          <md-icon>{{item['icon']}}</md-icon>
          {{item['title']}}</a>
      </ng-template>
    </md-nav-list>

  </td-navigation-drawer>
  <td-layout-nav color="none">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <div flex>
        <span hide-gt-xs>
        <a [routerLink]="['/']" class="tc-grey-900 md-display-1">Cinemania</a>
        <md-icon class="md-icon-logo" svgIcon="assets:tmdb"></md-icon></span>
        <span hide-xs>
        <a [routerLink]="['/']" class="tc-grey-900 md-display-1">Cinemania</a>
        <md-icon class="md-icon-logo tc-deep-orange-500" svgIcon="assets:tmdb"></md-icon></span>
        <span flex></span>
      </div>

      <div flex="30" hide-xs hide-sm>
        <app-search></app-search>
      </div>
    </div>
    <md-toolbar class="pad-none z-0 visible">
      <nav md-stretch-tabs md-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>
        <a md-tab-link [routerLink]="[route['route']]" routerLinkActive #ni="routerLinkActive"
           [active]="ni.isActive" *ngFor="let route of routes">
          <span hide-xs>{{route['title']}}</span>
          <span hide-gt-xs><md-icon>{{route['icon']}}</md-icon></span>
        </a>
      </nav>
    </md-toolbar>

    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </td-layout-nav>
</td-layout>
