<section>
  <div tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
    <div class="row">
      <h1 class="push-bottom-sm text-center"
          tdMediaToggle="xs" [mediaClasses]="['md-title']">{{title}}</h1>
      <div *ngFor="let person of people | slice:0:10" class="col-md-3">
        <md-card>
          <a [routerLink]="['/person', person['id']]">
            <img md-card-image [src]="apiImg + person['profile_path']">
          </a>
          <md-card-content>
            <div flex layout="column">
              <div layout="row">
                <h3 class="md-subhead tc-grey-800 push-top-none push-bottom-none">
                {{person['name']}}</h3>
              </div>
              <div layout="row">
                <i flex class="text-micro tc-grey-600">{{person['character']}}</i>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</section>
