<div layout="column" class="search">
  <td-search-box backIcon="arrow_back" placeholder="Search for movies, series or people" [showUnderline]="true"
                 [debounce]="300" [alwaysVisible]="true" (searchDebounce)="search($event)"
                 (search)="search($event)" (clear)="clear()">
  </td-search-box>
  <div *ngIf="(complete | async)?.length > 0">
    <ul class="results">
      <li *ngFor="let result of results | slice:0:5" [ngSwitch]="result['media_type']" class="search-result">
        <a *ngSwitchCase="'movie'" [routerLink]="['/movie', result['id']]" (click)="clear()" layout="row"
           layout-align="center center">
          <md-icon>local_movies</md-icon>
          <span>
            {{result['original_title']}}
          </span>
        </a>
        <a *ngSwitchCase="'tv'" [routerLink]="['/serie', result['id']]" (click)="clear()" layout="row"
           layout-align="center center">
          <md-icon>tv</md-icon>
          <span>
            {{result['original_name']}}

          </span>
        </a>
        <a *ngSwitchCase="'person'" [routerLink]="['/person', result['id']]" (click)="clear()" layout="row"
           layout-align="center center">
          <md-icon>person</md-icon>
          <span>
            {{result['name']}}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
