@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// (optional) Additional themes
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

@include mat-core();

$primary: mat-palette($mat-green, 500);
$accent:  mat-palette($mat-indigo, A200);

$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

// (optional) Additional themes
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme();

// Personal styles
.img-poster:hover{
  transition: .2s ease;
  box-shadow: 0 1px 8px black;
}
